<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons"></i>
                </div>
                <h4 class="card-title">Regulamento</h4>
            </div>
            <div class="card-body">
                    <p>O bol&atilde;o ser&aacute; realizado considerando todos os placares de todos os jogos da Copa 2018.</p>
                    <p><strong>Pontua&ccedil;&atilde;o</strong>: A pontua&ccedil;&atilde;o ser&aacute; determinada pelos seguintes crit&eacute;rios:&nbsp;</p>
                    <ul>
                    <li>20 pontos &ndash; acerto do placar exato do jogo</li>
                    <li>10 pontos &ndash; acerto do resultado, mas errar o placar do jogo&nbsp;</li>
                    <li>05 pontos &ndash; acerto do n&uacute;mero de gols de um dos times&nbsp;</li>
                    </ul>
                    <p>Para efeito de pontua&ccedil;&atilde;o dos progn&oacute;sticos inseridos no concurso, para cada um dos jogos ser&atilde;o considerados os resultados do tempo regulamentar (1&ordm; e 2&ordm; tempos) e se ocorrer, tamb&eacute;m at&eacute; o fim da prorroga&ccedil;&atilde;o (1&ordm; e 2&ordm; tempos).&nbsp;</p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>Se o resultado do jogo foi: Time A 3 x 2 Time B</strong>, os progn&oacute;sticos abaixo valem:&nbsp;<br />3 x 2 - 20 pontos, acerto do placar exato do jogo&nbsp;<br />3 x 0 - 15 pontos, acerto do resultado do jogo e o n&uacute;mero de gols de um dos times&nbsp;<br />1 x 0 - 10 pontos, acerto do vencedor do jogo, mas errou o placar&nbsp;<br />1 x 2 - &nbsp;5 pontos, acerto do o n&uacute;mero de gols de um dos times&nbsp;<br />1 x 1 &ndash; 00 (zero) pontos, nenhum acerto</p>
                    <p>Para os jogos suspensos, adiados ou em qualquer outra situa&ccedil;&atilde;o que inviabilize a apura&ccedil;&atilde;o de pontos, aos participantes n&atilde;o ser&aacute; atribu&iacute;da nenhuma pontua&ccedil;&atilde;o.</p>
                    <p>Se ocorrer qualquer altera&ccedil;&atilde;o nos resultados de jogos durante o per&iacute;odo do presente Concurso, cuja apura&ccedil;&atilde;o j&aacute; estiver encerrada (por exemplo, julgamento em ju&iacute;zo, que altere pontos de disputas encerradas), os progn&oacute;sticos n&atilde;o ser&atilde;o invalidados, mas as pontua&ccedil;&otilde;es ser&atilde;o alteradas para refletir o novo resultado do referido jogo.</p>
                    <p><strong>&nbsp;</strong><strong>Crit&eacute;rio de Desempate</strong>: Ao t&eacute;rmino do Concurso, em caso de empate de pontos entre os participantes, ser&aacute; considerado ganhador finalista aquele participante que tiver na ordem: maior quantidade de acertos de 20 pontos; maior quantidade de acertos de 10 pontos e, por &uacute;ltimo, maior quantidade de acertos de 05 pontos. Se persistir o empate ap&oacute;s a an&aacute;lise dos crit&eacute;rios acima ser&aacute; considerado ordem de pagamento da Cota..</p>
                    <p><strong>&nbsp;</strong><strong>Prazo final para cadastro dos palpites</strong>: At&eacute; o inicio da partida.</p>
                    <p><strong>&nbsp;</strong><strong>Valor do bol&atilde;o: </strong><strong>R$ 10,00 por participante. </strong><strong>&nbsp;</strong></p>
                    <p><strong>Pr&ecirc;mios</strong>: Os tr&ecirc;s primeiros colocados no Ranking final, far&atilde;o jus aos pr&ecirc;mios abaixo descritos, distribu&iacute;dos na seguinte ordem e forma:&nbsp;</p>
                    <p>1&ordm; Colocado: 50% da arrecada&ccedil;&atilde;o.</p>
                    <p>2&ordf; Colocado: 30% da arrecada&ccedil;&atilde;o.</p>
                    <p>3&ordm; Colocado: 20% da arrecada&ccedil;&atilde;o.</p>



            </div>

            <!-- body-->

        </div>
    </div>
</div>
