<div class="main-content" *ngIf="bolao">
    <div class="container-fluid">
        <jhi-alert></jhi-alert>

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h6>{{bolao.descricao + ' - ' + bolao.campeonatoDTO.descricao}}</h6>
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper" *ngIf="rodadas">
                                <span class="nav-tabs-title">Rodadas:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item rodadas" *ngFor="let rodada of rodadas" [ngStyle]="{'width': (100 / rodadas.length) + '%'}">
                                        <a mat-button class="nav-link" [ngClass]="{ 'active':isRodadaAtiva(rodada)}" (click)="loadApostas(rodada)" data-toggle="tab">
                                            {{rodada.numero}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <button mat-raised-button type="submit" (click)="salvarApostas()" class="btn btn-primary pull-right" id="salvar-apostas">Salvar Apostas</button>
                        <div class="table-responsive">
                            <div class="tab-pane active" id="rodadaAtiva">

                                <table class="table">
                                    <tbody *ngIf="apostas">
                                        <tr *ngFor="let aposta of apostas">
                                            <td class="td-apostas data-partida">{{aposta.partida.dataPartida | date: 'dd/MM/yyyy HH:mm'}}</td>
                                            <td class="td-apostas nome-clube">{{aposta.partida.clubeMandante.nome}}</td>
                                            <td class="bandeira-clube text-right">
                                                <img class="img-teams" [src]="loadBandeira(aposta.partida.clubeMandante.bandeira)" />
                                            </td>
                                            <td class="palpite-clube">
                                                <input class="form-control text-right" type="number" id="inputPlacarVisitante" min="0" max="99" [(ngModel)]="aposta.placar.placarMandante"
                                                    style="width: 70px" [disabled]="isPartidaIniciada(aposta.partida)" />
                                            </td>
                                            <td class="palpite-clube palpite-clube-visitante">
                                                <input class="form-control" type="number" id="inputPlacarVisitante" min="0" max="99" [(ngModel)]="aposta.placar.placarVisitante"
                                                    style="width: 70px" [disabled]="isPartidaIniciada(aposta.partida)" />

                                            </td>
                                            <td class="bandeira-clube">
                                                <img class="img-teams" [src]="loadBandeira(aposta.partida.clubeVisitante.bandeira)" />
                                            </td>
                                            <td class="td-apostas nome-clube">{{aposta.partida.clubeVisitante.nome}}</td>
                                            <td class="td-apostas pontuacao">{{aposta.pontuacao}}</td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

</div>