<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Ativação da conta do Bolão da Copa 2018</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Olá Amiguinho!
        </p>
        <p th:text="#{email.activation.text1}">
            Sua conta no bolão foi criada, utilize a url abaixo para ativar sua conta e começar a apostar:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
               th:text="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">Link de ativação</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Obrigado, </span>
            <br/>
            <em th:text="#{email.signature}">Equipe do bolão.</em>
        </p>
    </body>
</html>
