<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Bolão da Copa 2018 - Redefinir Senha</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Olá Amiguinho,
        </p>
        <p th:text="#{email.reset.text1}">
            Voçê solicitou a redefinição da senha, segue o link:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
               th:text="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Redefinir senha</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Até mais, </span>
            <br/>
            <em th:text="#{email.signature}">Equipe do bolão.</em>
        </p>
    </body>
</html>
