<div class="main-content" *ngIf="bolao">
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h6>{{bolao.descricao + ' - ' + bolao.campeonatoDTO.descricao}}</h6>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>AC</th>
                                        <th>AR</th>
                                        <th>AP</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="ranking">

                                    <tr *ngFor="let rank of ranking">
                                        <td>
                                            <a [routerLink]="['../apostas-finalizadas/', rank.login ]">{{rank.username}}</a>
                                        </td>
                                        <td>{{rank.pontuacaoAtual}}</td>
                                        <td>{{rank.apostaCerteira}}</td>
                                        <td>{{rank.apostaResultado}}</td>
                                        <td>{{rank.apostaUmPlacar}}</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>