<div class="main-content" *ngIf="bolao">
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h6>{{bolao.descricao + ' - ' + bolao.campeonatoDTO.descricao}}</h6>
                    </div>
                    <div class="card-body">

                        <table class="table">
                            <tbody *ngIf="ranking">
                                <tr *ngFor="let rank of ranking">
                                    <td>{{rank.username}}</td>
                                    <td>{{rank.pontuacaoAtual}}</td>                                    
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>