<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary" *ngIf="account" >
                        <h5>Mudar Senha</h5>
                    </div>
                    <div class="card-body">
                        
                        <div class="alert alert-success" *ngIf="success">
                            <strong>Senha Alterada!</strong>
                        </div>

                        <div class="alert alert-danger" *ngIf="error" >
                            <strong>Ocorreu um erro!</strong> A senha não foi alterada.
                        </div>
            
                        <div class="alert alert-danger" *ngIf="doNotMatch">
                            A senha e a confirmação de senha não coincidem.
                        </div>

                       
                        <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input type="password" matInput id="password" name="password" placeholder="Senha" [(ngModel)]="password"
                                        minlength=4 maxlength=50 required #passwordInput="ngModel" >
                                </mat-form-field>
                                <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                                    <small class="form-text text-danger" *ngIf="passwordInput.errors.required">
                                        A senha é obrigatória.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="passwordInput.errors.minlength">
                                        A senha deve conter ao menos 4 caracteres.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="passwordInput.errors.maxlength">
                                        A senha não pode conter mais que 50 caracteres.
                                    </small>
                                </div>
                                <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input type="password" matInput id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirmação de senha"
                                        [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                                </mat-form-field>
                                <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                                        A confirmação de senha é obrigatória.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                                        A confirmação de senha deve conter ao menos 4 caracteres.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                                        A confirmação de senha não pode conter mais que 50 caracteres.
                                    </small>
                                </div>
                            </div>
                            <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Alterar senha</button>
                        </form>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

