<div class="main-content">
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h5>Bem vindo!</h5>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-success" *ngIf="success">
                            <strong>Sua conta esta ativa!</strong> Por favor entre para começar a apostar <a class="alert-link" (click)="login()">entrar</a>.
                        </div>

                        <div class="alert alert-danger" *ngIf="error">
                            <strong>Ocorreu um erro!</strong> Tente novamente mais tarde.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>