<div class="main-content">
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h5>Bem vindo!</h5>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-success" *ngIf="success">
                            <strong>Você esta registrado!</strong> Por favor verifique seu email de confirmação.
                        </div>

                        <div class="alert alert-danger" *ngIf="error">
                            <strong>Ocorreu um erro!</strong> Tente novamente mais tarde.
                        </div>

                        <div class="alert alert-danger" *ngIf="errorUserExists">
                            <strong>Este usuário já existe!</strong> Por favor escolha outro.
                        </div>

                        <div class="alert alert-danger" *ngIf="errorEmailExists">
                            <strong>Email já utilizado!</strong> Por favor utilize outro.
                        </div>

                        <div class="alert alert-danger" *ngIf="doNotMatch">
                            A senha e a confirmação de senha não coincidem.
                        </div>


                        <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input type="text" matInput [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Usuário"
                                        required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                                </mat-form-field>
                                <div *ngIf="login.dirty && login.invalid">
                                    <small class="form-text text-danger" *ngIf="login.errors.required">
                                        O usuário é obrigatório.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="login.errors.minlength">
                                        Seu usuário deve conter ao menos um caracter.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="login.errors.maxlength">
                                        Seu usuário não pode ter mais que 50 caracteres.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="login.errors.pattern">
                                        Seu usuário pode conter somente números e letras
                                    </small>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input type="text" matInput id="firstName" name="firstName" placeholder="Nome"
                                    [(ngModel)]="registerAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel" required>
                                </mat-form-field>
                                <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.required">
                                        O seu nome é obrigatório.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.minlength">
                                        Se  u nome deve conter ao menos um caracter.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.maxlength">
                                        Seu nome não pode ter mais que 50 caracteres.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.pattern">
                                        Seu nome pode conter somente números e letras
                                    </small>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input type="email" matInput id="email" name="email" #email="ngModel" placeholder="E-mail" [(ngModel)]="registerAccount.email"
                                        minlength=5 maxlength=100 email required>
                                </mat-form-field>
                                <div *ngIf="email.dirty && email.invalid">
                                    <small class="form-text text-danger" *ngIf="email.errors.required">
                                        O e-mail é obrigatório.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="email.errors.invalid">
                                        E-mail inválido.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="email.errors.minlength">
                                        Seu e-mail deve conter ao menos 5 caracteres.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="email.errors.maxlength">
                                        Seu e-mail não pode conter mais que 100 caracteres.
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input type="password" matInput id="password" name="password" #password="ngModel" placeholder="Senha" [(ngModel)]="registerAccount.password"
                                        minlength=4 maxlength=50 required>
                                </mat-form-field>
                                <div *ngIf="password.dirty && password.invalid">
                                    <small class="form-text text-danger" *ngIf="password.errors.required">
                                        A senha é obrigatória.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="password.errors.minlength">
                                        A senha deve conter ao menos 4 caracteres.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="password.errors.maxlength">
                                        A senha não pode conter mais que 50 caracteres.
                                    </small>
                                </div>
                                <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input type="password" matInput id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirmação de senha"
                                        [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                                </mat-form-field>
                                <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                                        A confirmação de senha é obrigatória.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                                        A confirmação de senha deve conter ao menos 4 caracteres.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                                        A confirmação de senha não pode conter mais que 50 caracteres.
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Registrar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>