<nav class="navbar navbar-expand-lg navbar">
    <div class="container">
        <div class="jh-logo-container float-left">
            <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="isNavbarCollapsed" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                <i class="fa fa-{{isNavbarCollapsed ? 'bars' : 'remove'}}"></i>
            </a>
            <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
                <span class="logo-img"></span>
                <span class="navbar-title" style="font-size: xx-large">Bolão</span>
            </a>
        </div>

        <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed">

            <ul class="navbar-nav ml-auto" [ngClass]="{'card': !isNavbarCollapsed}" [ngSwitch]="isAuthenticated()">

                <li class="nav-item">
                        <a class="nav-link" routerLink="regulamento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                          <i class="material-icons">rate_review</i>
                          <span>Regulamento</span>
                      </a>
                </li>

                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->

                <li class="nav-item active" *ngSwitchCase="true" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="aposta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <i class="material-icons">contact_support</i>
                        <span>Palpites</span>
                    </a>
                </li>
                <li class="nav-item" *ngSwitchCase="true" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="ranking" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <i class="material-icons">score</i>
                        <span>Ranking</span>
                    </a>
                </li>


                <li *ngIf="!account" class="nav-item">
                        <a class="nav-link" routerLink="register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="material-icons">perm_identity</i>
                            <span>Registrar</span>
                        </a>
                    </li>

                <li *ngIf="!account" class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" (click)="login()" routerLinkActive="active" id="login">
                        <i class="material-icons">account_circle</i>
                        <span>Entrar</span>
                    </a>
                </li>
               




                <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="cadastros-menu">
                        <span>
                            <i class="material-icons">class</i>
                            <span>Cadastros</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" routerLink="partida" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">assignment</i>
                                <span>Partidas</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="clube" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">contacts</i>
                                <span>Clubes</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="bolao" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">add_circle</i>
                                <span>Bolão</span>
                            </a>
                        </li>

                    </ul>

                </li>

                <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                        <span>
                            <i class="material-icons">face</i>
                            <span>Administrador</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">people</i>
                                <span>Usuários</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">group_work</i>
                                <span>Metricas</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">group_work</i>
                                <span>Status</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">build</i>
                                <span>Configuração</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">group_work</i>
                                <span>Auditoria</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">group_work</i>
                                <span>Logs</span>
                            </a>
                        </li>
                        <li *ngIf="swaggerEnabled">
                            <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">group_work</i>
                                <span>API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li *ngIf="!inProduction">
                            <a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">
                                <i class="material-icons">group_work</i>
                                <span>Banco</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="account" ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                        <span *ngIf="!getImageUrl()">
                            <i class="material-icons">account_box</i>
                            <span *ngIf="account">Ola! {{account.firstName}}</span>

                        </span>
                        </span>
                        <span *ngIf="getImageUrl()">
                            <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                        </span>
                    </a>
                    <ul class="dropdown-menu user-options" ngbDropdownMenu>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">build</i>
                                <span>Configurações</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="material-icons">security</i>
                                <span>Mudar senha</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" href="javascript:void(0);" (click)="logout()" routerLinkActive="active" id="logout">
                                <i class="material-icons">exit_to_app</i>
                                <span>Sair</span>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>