<div class="main-content" *ngIf="bolao">
    <div class="container-fluid">
        <jhi-alert></jhi-alert>

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h6>{{user.firstName}}</h6>
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper" *ngIf="rodadas">
                                <span class="nav-tabs-title">Rodadas:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item" *ngFor="let rodada of rodadas">
                                        <a mat-button class="nav-link" [ngClass]="{ 'active':isRodadaAtiva(rodada)}" (click)="loadApostas(rodada)" data-toggle="tab">
                                            {{rodada.numero}}
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="tab-content">

                                <div class="tab-pane active" id="rodadaAtiva">

                                    <div *ngIf="apostas" class="col-md-12">
                                        <div class="card card-chart">
                                            <div class="card-header card-header-primary">
                                                <div class="ct-chart" id="completedTasksChart"></div>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Pontos por Partida</h4>
                                            </div>

                                        </div>
                                    </div>


                                    <table class="table">
                                        <tbody *ngIf="apostas">
                                            <tr *ngFor="let aposta of apostas">
                                                <td class="td-apostas data-partida">{{aposta.partida.dataPartida | date: 'dd/MM/yyyy HH:mm'}}</td>
                                                <td class="td-apostas nome-clube">{{aposta.partida.clubeMandante.nome}}</td>
                                                <td class="bandeira-clube text-right">
                                                    <img class="img-teams" [src]="loadBandeira(aposta.partida.clubeMandante.bandeira)" />
                                                </td>
                                                <td class="palpite-clube">
                                                    {{aposta.placar.placarMandante}}
                                                </td>
                                                <td class="palpite-clube palpite-clube-visitante" >
                                                    {{aposta.placar.placarVisitante}}
                                                </td>
                                                <td class="bandeira-clube" >
                                                    <img class="img-teams" [src]="loadBandeira(aposta.partida.clubeVisitante.bandeira)" />
                                                </td>
                                                <td class="td-apostas nome-clube">{{aposta.partida.clubeVisitante.nome}}</td>
                                                <td class="td-apostas pontuacao" >
                                                        <a [matTooltip]="montarMensagemResultado(aposta)" [matTooltipPosition]="'above'" [routerLink]="['../../apostas-finalizadas-partida/', aposta.partida.id ]">{{aposta.pontuacao}}</a>
                                                    </td>


                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

</div>