<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h3>Partidas</h3>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary float-right jh-create-entity create-partida" [routerLink]="['/', { outlets: { popup: ['partida-new'] } }]">
                            <span class="fa fa-plus"></span>
                            <span>
                                Nova Partida
                            </span>
                        </button>

                        <jhi-alert></jhi-alert>
                        <div class="row">
                        </div>
                        <br/>
                        <div class="table-responsive" *ngIf="partidas">
                            <table class="table">
                                <thead>
                                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                                        <th jhiSortBy="dataPartida">
                                            <span>Data Partida</span>
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th jhiSortBy="clubeMandanteId">
                                            <span>Clube Mandante</span>
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th jhiSortBy="clubeVisitanteId">
                                            <span>Clube Visitante</span>
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th jhiSortBy="rodadaId">
                                            <span>Rodada</span>
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                                    <tr *ngFor="let partida of partidas ;trackBy: trackId">
                                        
                                        <td>{{partida.dataPartida | date:'dd/MM/yyyy hh:mm'}}</td>
                                        <td>
                                            <div *ngIf="partida.clubeMandante">
                                                <a [routerLink]="['../clube', partida.clubeMandante.id  ]">{{partida.clubeMandante.nome}}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div *ngIf="partida.clubeVisitante">
                                                <a [routerLink]="['../clube', partida.clubeVisitante.id  ]">{{partida.clubeVisitante.nome}}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div *ngIf="partida.rodadaId">
                                                <a [routerLink]="['../rodada', partida.rodadaId  ]">{{partida.rodadaId}}</a>
                                            </div>
                                        </td>
                                        <td class="td-actions text-right">
                                            <div class="btn-group flex-btn-group-container">

                                                <button mat-raised-button type="button" [routerLink]="['../partida', partida.id ]" matTooltip="Visualizar Partida" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">visibility</i>
                                                </button>

                                                <button mat-raised-button type="button" [routerLink]="['/', { outlets: { popup: 'partida/'+ partida.id + '/edit'} }]" 
                                                            replaceUrl="true" queryParamsHandling="merge"
                                                             matTooltip="Editar Partida" [matTooltipPosition]="'above'" class="btn btn-warning btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>

                                                <button mat-raised-button type="button" [routerLink]="['/', { outlets: { popup: 'partida/'+ partida.id + '/delete'} }]" 
                                                            replaceUrl="true" queryParamsHandling="merge"
                                                            matTooltip="Excluir Partida" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">delete</i>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>