<div class="main-content">
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h5>Redefinir senha</h5>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                            <strong>Email não registrado!</strong> Verifique e tente novamente.
                        </div>
            
                        <div class="alert alert-warning" *ngIf="!success">
                            <p>Informe o email que você utilizou para se registrar.</p>
                        </div>
            
                        <div class="alert alert-success" *ngIf="success === 'OK'">
                            <p>Verifique seu email para redefinir sua senha.</p>
                        </div>


                        <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input type="email" matInput id="email" name="email" #emailInput="ngModel" placeholder="E-mail" [(ngModel)]="resetAccount.email"
                                        minlength=5 maxlength=100 email required>
                                </mat-form-field>
                                <div *ngIf="emailInput.dirty && emailInput.invalid">
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.required">
                                        O e-mail é obrigatório.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.invalid">
                                        E-mail inválido.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.minlength">
                                        Seu e-mail deve conter ao menos 5 caracteres.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength">
                                        Seu e-mail não pode conter mais que 100 caracteres.
                                    </small>
                                </div>
                            </div>
                            <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Redefinir</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>