
<div class="modal-header">
    <h4 class="modal-title">Entrar</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>

<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Erro ao entrar!</strong> Verifique seu login e senha e tente novamente.
            </div>
        </div>
        <div class="col-md-12">

            <form role="form" (ngSubmit)="login()">

                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput name="username" id="username" placeholder="Usuário" [(ngModel)]="username">
                    </mat-form-field>
                </div>


                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input type="password" matInput name="password" id="password" placeholder="Senha" [(ngModel)]="password">
                    </mat-form-field>

                </div>


                <div class="col-md-12">
                    <div class="form-check">
                        <label class="form-check-label" for="rememberMe">
                            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                            Manter conectado
                            <span class="form-check-sign">
                                   <span class="check"></span>
                             </span>
                        </label>
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()">Esqueceu sua senha?</a>
            </div>
            <div class="alert alert-warning">
                <span>Ainda não se cadastrou?</span>
                <a class="alert-link" (click)="register()">Cadastrar-se</a>
            </div>
        </div>
    </div>
</div>